@import url("https://fonts.googleapis.com/css?family=Grape+Nuts");
@import url("https://fonts.googleapis.com/css?family=Farsan");
@import url("https://fonts.googleapis.com/css?family=Comforter");

body {
  background-color: #b6fbf7;
  justify-content: stretch;
  text-align: center;
  font-family: "Farsan", "Arial";
}

header {
  background-color: #34c2ba;
  margin: 0 -0.5rem;
}

main {
  line-height: 1rem;
  margin: 0 2rem;
}

footer {
  background-color: #34c2ba;
  margin: 0 -0.5rem -0.5rem -0.5rem;
}

section {
  margin-top: 1.5rem;
}

.container {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: minmax(1.5rem, 1fr);
  grid-template-rows: 3rem 10fr 3rem;
}

a {
  color: #fc6203;
}

h1 {
  font-family: "Comforter", "Arial";
  font-size: 1.5rem;
}

main h1 {
  font-family: "Grape Nuts", "Arial";
  word-spacing: 0.5rem;
  font-size: 1.2rem;
}

main h2 {
  font-size: 1rem;
  margin-bottom: 0;
}

nav {
  display: grid;
  grid-template-columns: 1fr 8fr repeat(4, 1fr);
  grid-template-rows: 3rem;
  align-items: center;
}

nav img {
  max-height: 30px;
  max-width: 30px;
  object-fit: cover;
  padding: 0.2rem 0.5rem 0 0.5rem;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext_below,
.tooltiptext_right,
.tooltiptext_left,
.tooltiptext_top {
  visibility: hidden;
  background-color: #fc6203;
  color: #fff;
  font-size: small;
  text-align: center;
  border-radius: 0.4rem;
  position: absolute;
  z-index: 1;
  width: 120px;
}

.tooltip .tooltiptext_below {
  top: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip .tooltiptext_right {
  top: 20%;
  left: 105%;
}

.tooltip .tooltiptext_left {
  top: 20%;
  right: 85%;
}

.tooltip .tooltiptext_top {
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip #tooltip_insta {
  bottom: 100%;
  left: 50%;
  margin-left: -90px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext_below,
.tooltip:hover .tooltiptext_right,
.tooltip:hover .tooltiptext_left,
.tooltip:hover .tooltiptext_top {
  visibility: visible;
}

footer {
  display: grid;
  grid-template-columns: 2fr 16fr 2fr 2fr 0.05fr;
  column-gap: 1rem;
  align-items: center;
}

footer img {
  max-height: 30px;
  max-width: 30px;
  padding-top: 0.5rem;
}

footer .logo img {
  margin-left: 1rem;
}

.buttontop {
  position: sticky;
  bottom: 1rem;
  padding-left: 100%;
}

#topicon {
  width: 1.5rem;
  padding-left: 0.5rem;
}

#topicon:hover {
  opacity: 50%;
}

html::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(252, 98, 3, 0.5);
}

html::-webkit-scrollbar {
  width: 8px;
  background-color: #b6fbf7;
}

html::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #fc6203;
}

/* Small screen 1024x640 */
/* Desktop 1366x768 */
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.3rem;
  }

  main {
    line-height: 1.3rem;
  }

  h1 {
    font-size: 2rem;
  }

  main h1 {
    font-size: 1.5rem;
  }

  .container {
    grid-template-rows: 4rem 10fr 4rem;
  }

  nav {
    grid-template-rows: 4rem;
  }

  nav img {
    max-height: 40px;
    max-width: 40px;
  }

  .tooltip .tooltiptext_below,
  .tooltiptext_right,
  .tooltiptext_left,
  .tooltiptext_top {
    font-size: 1rem;
    width: 150px;
  }

  .tooltip .tooltiptext_below {
    margin-left: -75px;
  }

  .tooltip .tooltiptext_right {
    top: 100%;
    left: 10%;
  }

  .tooltip .tooltiptext_left {
    top: 100%;
    right: 10%;
  }

  .tooltip .tooltiptext_top {
    margin-left: -75px;
  }

  .tooltip #tooltip_insta {
    margin-left: -110px;
  }

  footer {
    grid-template-columns: 2fr 16fr 1fr 1fr 0.1fr;
  }

  footer img {
    max-height: 40px;
    max-width: 40px;
    padding-top: 0.5rem;
  }

  #topicon {
    width: 1.9rem;
    padding-left: 0.1rem;
  }
}

@media screen and (min-width: 1366px) {
  body {
    font-size: 1.4rem;
  }

  main {
    line-height: 1.6rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  main h1 {
    font-size: 1.8rem;
  }

  .container {
    grid-template-rows: 5rem 10fr 5rem;
  }

  nav {
    grid-template-rows: 5rem;
  }

  nav img {
    max-height: 50px;
    max-width: 50px;
  }

  .tooltip .tooltiptext_below,
  .tooltiptext_right,
  .tooltiptext_left,
  .tooltiptext_top {
    font-size: 1.3rem;
    width: 210px;
  }

  .tooltip .tooltiptext_below {
    margin-left: -105px;
  }

  .tooltip .tooltiptext_top {
    margin-left: -105px;
  }

  .tooltip #tooltip_insta {
    margin-left: -200px;
  }

  footer img {
    max-height: 50px;
    max-width: 50px;
  }

  #topicon {
    width: 2.1rem;
  }
}
